.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: var(--boxShadow);
  background-color: var(--subBackground);
  border-radius: 8px;
  padding: 12px;
  padding-top: 0;
  padding-bottom: 2rem;
  width: 550px;
}

.addressSub {
  font-size: 14px;
  font-weight: 400;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 400px;
    padding-top: 20px;
  }

  .header {
    font-size: 14px;
  }

  .active {
    font-size: 14px;
  }

  .address {
    font-size: 14px;
  }

  .addressSub {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media only screen and (max-width: 470px) {
  .container {
    width: 300px;
  }
}

.button {
  background-color: var(--primary);
  color: var(--primaryForeground);
  cursor: pointer;
  font-weight: 500;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.next {
  position: relative;
  top: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: rgb(210, 210, 210);
  width: 100%;
  margin-bottom: 1rem;
  font-weight: 600;
  border-radius: 8px 8px 0 0;
  padding: 12px;
  gap: 16px;
}

.active {
  display: flex;
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px 8px 0 0;
  color: var(--primaryForeground);
  background-color: var(--primary);
  font-weight: 600;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.address {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: start;
  align-items: start;
  position: relative;
}

.paymentMethods {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  gap: 5px;
}

.disabledOption {
  cursor: not-allowed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 20px;
  position: relative;
  right: 20px;
  width: 100%;
}

.divider {
  display: flex;
  position: relative;
  flex-grow: 1;
  border-top: 1px solid var(--subForeground);
  margin-top: 7px;
  margin-bottom: 7px;
  padding-right: 0;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 20px;
  position: relative;
  right: 20px;
  width: 100%;
}

.options:hover {
  cursor: pointer;
  background-color: var(--alpha-primary);
}

.subHeading {
  font-size: 11px;
  color: var(--subForeground);
}

.heading {
  font-size: 16px;
  font-weight: 600;
  color: var(--foreground);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
  font-weight: 600;
}

.transactionInfo {
  font-size: 15px;
  padding-block: 10px;
  font-weight: 600;
  color: var(--primary);
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #e0e0e0;
  color: #7c7c7c;
  font-weight: 500;
  border-radius: 6px;
  font-size: 14px;
  padding: 8px 16px;
  margin-right: 8px;
  margin-bottom: 8px;
}
