.container{
    background-color: var(--alpha-primary);
    padding: 14px;
    border-radius: 4px;
    position: relative;
    display: flex;
    justify-content: start;
    align-items: center;
}

.main{
    font-size: 14px;
    font-weight: 600;
    color: var(--foreground);
}

.sub{
    font-size: 12px;
    font-weight: 400;
    color: var(--subForeground);
}


.addressBody{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.info{
    display: flex;
    flex-direction: column;
    gap: 5px; 
}

.button {
    color: var(--primary);
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: calc(0% + 20px);
    font-weight: 500;
    border-radius: 6px;
    gap: 5px;
    font-size: 14px;
    padding: 6px 12px;
  }