* {
  margin: 0;
  padding: 0;
}

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 16%);
  --primary: hsl(219, 69%, 48%);
  --primaryForeground: hsl(0, 0%, 100%);
  --alpha-primary: color-mix(in srgb, var(--primary) 10%, transparent);
  --subForeground: color-mix(in srgb, var(--foreground) 80%, transparent);
  --boxShadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  --boxShadowDark: 0 2px 4px rgba(255, 255, 255, 0.1);
}

html {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  background-color: var(--background);
  flex-grow: 1;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
