.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-block: 50px;
    align-items: center;
    flex: 1;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    width: 70%;
    gap: 30px;
}

.cart{
    width: 100%;
}

.additionText{
    padding-top: 35px;
    color: var(--foreground);
    font-size: 14px;
}
.button {
    background-color: var(--primary);
    color: var(--primaryForeground);
    cursor: pointer;
    font-weight: 500;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 16px;
    margin-right: 8px;
    margin-bottom: 8px;
  }