.main{
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding-block: 50px;
    align-items: center;
    flex: 1;
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70%;
}

.cart{
    width: 100%;
}